body{
  background-color: rgb(0, 0, 0);
}

body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:100%;
height: 100%;
margin:0 auto;
margin-top: 20px;
background: url('https://images.unsplash.com/photo-1531748049999-7217dc4cfbd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center center fixed ;
background-size: cover;
}

.top-design{
  width:700px;
  height:80px;
  border:5px goldenrod double;
  border-radius: 25px/150px 150px 0 0;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  -webkit-animation: glow 0.3s ease-in-out infinite alternate;
    -moz-animation: glow 0.3s ease-in-out infinite alternate;
    animation: glow 0.3s ease-in-out infinite alternate;


}


.container{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width:800px;
  height:770px;
  border-radius: 78px/190px 190px  190px 190px;
  border: 10px goldenrod double;
  /* background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(235,253,29,1) 50%, rgba(252,176,69,1) 100%);  */
  background-color: #ffea00;
}

.slots {
  width:30%;
  height:500px;
  border:5px goldenrod double;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position:relative;
  top: -40px;
  background: rgb(131,58,180);
  background: rgb(254, 197, 187);
  background:#f8f9fa;
  position: relative;
}

.paychart{
  z-index: 1;
  background-image: url("../img/payout-chart.png");
  width:270px;
  height:200px;
  background-size: cover;
  /* margin-top: -310px;
  left:260px; */
  margin-left: -63em;
  border: 2px dotted yellow;
  display:none;
  justify-content: center;
  align-items: center;
  padding:20px;
  position:absolute;
  border-radius: 5px; 
}

button{
  border:3px goldenrod double;
  border-radius: 10px;
  font-weight: 800px;
  /* font-size: larger; */
  font-size: medium;
  font-family: 'Roboto Mono', monospace;
  
  
}

#pay_btn{
  background-color: pink;
}

#withdraw_btn{
  background-color:yellow;
}

#play_btn{
  background-color:green;
}

#deposit{
  background-color:orange ;
  font-size:large;
  border:3px goldenrod double;
  width: 115px;
}

.data-screen{
  display:flex;
  width:40%;
  height:200px;
  justify-content: space-evenly;
  align-items: center;
  border:2px solid red;
}

/* #bet-info,#credit-info{
  width:100px;
  height:50px;
} */

#credit-info{
border:3px double goldenrod;
display: inline-block;
color:green;
font-family: 'Roboto Mono', monospace;
display: flex;
justify-content: center;
align-items:center ;
font-size: 50px;
width: 250px;

}

.container2{
  display: flex;
  
  justify-content: space-between;
  margin-top:-90px;  
  
}

span{
  font-size: 82px;
}

#slot-1,#slot-2,#slot-3{
  overflow: hidden;
}

#slot-1{
  border-radius: 95px/145px 0 0 145px;

  
}
#slot-3{
  border-radius: 95px/0 145px 145px 0;
}

#win-amount{
  width:80%;
  height:3em;
  margin-bottom: -200px;
  margin-top:-200px;
  border: 5px goldenrod double;
  border-radius: 25px/75px 75px 0 0;
  -webkit-animation: glow 0.3s ease-in-out infinite alternate;
    -moz-animation: glow 0.3s ease-in-out infinite alternate;
    animation: glow 0.3s ease-in-out infinite alternate;
  position:relative;
  top:20px;
  color: rgb(211, 203, 203);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.8em;
  padding-top:5px;
  
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deposit,button:hover{
  border-color:#f1ff5c;
  color:darkmagenta;
  box-shadow: 0 0.9em 0.5em -0.4em #3E9C62;
  /* transform:translateY(-0.25em); */
  transition: all 1s;
  cursor:pointer;
  /* animation: shake 3s; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6;
  }
}
/* @media screen and (max-width:740px) {
  #win-amount{
    font-size: 13px;
  } 
}

@media screen and (max-width:600px) {
  #win-amount{
    font-size: 20px;
    line-height: 20px;
    height: 40px;
    width: 99%;
  }
  
  button{
    font-size:10px;
    padding:0
  }
  

  
  .slots{
    height:200px;
    margin-bottom: -100px;
    
  }
  #win-amount{
    margin-bottom: -310px;
    
  }
  

} */

h3{
  color:white;
  margin-top: 60px;
}


@media screen and (max-width:1200px) {

  .container{
    box-sizing: border-box;
  }
 
  .slots{
    height:350px;
    font-size: 10px;
  }
}

@media screen and (max-width:1100px) {
  .top-design{
    width:350px;
    height:60px;
    font-size: 1.2em;
  }

  .container{
   
    width: 500px;
    height:570px;
  }

  .container2{
    width:380px;
  }

  button{
    font-size: 10px;
    border-radius: 5px;
  }
 
  .slots{
    height:350px;
    font-size: 10px;
  }
  #win-amount{
    font-size: 15px;
    
  }
  #credit-info{
    width: 80px;
    font-size: smaller;
  }
  #deposit{
    width: 45px;
  }
  .paychart{
    margin-left: 0;
    margin-bottom: -900px;
  }
}


@media screen and (max-width:700px) {
  .top-design{
    width:350px;
    height:60px;
    font-size: 1.2em;
  }

  .container{
  
    width: 500px;
    height: 500px;
  }
 
  .slots{
    height:250px;
    font-size: 10px;
    
  }
  #win-amount{
    font-size: 15px;
    
  }
 
}