body{
  

}
section{
display: flex;
justify-content: center;
width:80%;
margin:0 auto;


}
.container{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  width:80%;
  height:400px;
  
  
  
}
section div {
  width:20%;
  height:200px;
  border:2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.div-button{
  display:flex;
  justify-content: center;
  margin-top:70px;

}
button{
  border:2px solid black;
  
}
.data-screen{
  display:flex;
  width:40%;
  height:200px;
  justify-content: space-evenly;
  align-items: center;
  border:2px solid red;

}

#bet-info,#credit-info,#bet-step{
  width:100px;
  height:50px;
}

span{
  font-size: 52px;
}

.slots{
  overflow: hidden;
}
/* .spin1{

}
.spin2{
  
}
.spin3{
  
}
.spin4{
  
}
.spin5{
  
}
.spin6{
  
}
.spin7{
  
}
.spin8{
  
}
.spin9{
  
} */